body{
    padding: 0;
    margin: 0;
    background-image: url("tic.jpg");
    background-size: cover;
}
.tab{
    
    margin: 50px auto;
    width: 30%;
    text-align: center;
    
}
button{
    padding: 30px;
    font-size:20px;
    color:black;
    
}
h1{
    -webkit-box-shadow: 24px 23px 28px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 24px 23px 28px 5px rgba(0,0,0,0.75);
    box-shadow: 24px 23px 28px 5px rgba(0,0,0,0.75);
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
    color: azure;
}
.cen{
    margin: 50px auto;
    text-align: center;
}
.cenn{
    text-align: center;
    color: azure;
}
h3{
    font-size: 40px;
    
}